/**
 * @file
 * Panels base partial
 *
 * Import the theme base partial and declare any variables and styles tha
 * should be available to every layout.
 *
 * Inlucde this partial in the .scss file for a panel:
 * @import "panels";
 */

@import "base";

/* The following are from 00-atoms/00-global/_structure-vars.scss in the ashlar drupal 8 pattern directory */
/* Spacing */
$standard-spacing: 16px;
$half-spacing: $standard-spacing / 2;
$large-spacing: $standard-spacing * 2;

/* Content Area */
$max-content-width: 1400px;

/* Breakpoints */
$small: 581px;
$medium: 841px;
$large: $max-content-width;

/* Grid */
$small-screen-columns: $standard-spacing 1fr $standard-spacing;
$large-screen-columns: 1fr $max-content-width 1fr;
