@import "panels";

.layout--twocol-50-50 {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-50-50 > .layout__region {
  flex: 0 1 100%;
}


.layout--twocol-50-50 > .layout__region--first {
  @include breakpoint($medium) {
    flex: 0 1 50%;
    max-width: 50%;
    padding-right: $standard-spacing;
  }
}

.layout--twocol-50-50 > .layout__region--second {
  @include breakpoint($medium) {
    flex: 0 1 50%;
    max-width: 50%;
    padding-left: $standard-spacing;
  }
}

/* Panels UI Display */
.panels-dnd {
  .layout--twocol-50-50 > .layout__region--first {
    padding-right: 0;
  }

  .layout--twocol-50-50 > .layout__region--second {
    padding-left: 0;
  }
}
